
{% extends "base.html" %}


{% block styles%}
    {% include 'personal_info/personal_info_edit.css' %}
{% endblock %}


{% block intermediate %}

    <div class="w-50 m-16">
        <div class="d-inline surveyBlock justify-content-center border border-3 position-absolute shadow">
            <div>
                {% include 'personal_info/personal_info_form.html' with title=title brief_description=brief_description form=form%}
            </div>
        </div>
    </div>

{% endblock %}

{% block codes %}
    {% include 'personal_info/personal_info_edit.js' %}
{% endblock %}
