{% extends "personal_info/person_template.html" %}


{% block personal_style%}
	{% include 'personal_info/personal_survey_info.css' %}
	{% include 'surveys/survey_body.css' %}
{% endblock %}


{% block person_modules %}
<p>
	{% for button_info in button_infos%}
		<button 
				id="button-{{button_info.id}}"
				class="openSurvey btn btn-{{button_info.type}}" 
				type="button-{{button_info.id}}" 
				data-bs-toggle="collapse" 
				data-bs-target="#{{button_info.id}}" 
				aria-expanded="false" 
				aria-controls="collapseExample">
				{{button_info.name}}
		</button>
	{% endfor %}
</p>
<div class="row">
{% for survey_detail in the_survey_details%}
	<div class="collapse multi-collapse" id="{{survey_detail.survey_id}}">
		<div class="card">
			<div class="hostTitle card-head">
				<h3 class="mt-3 text-center">
					{{survey_detail.survey_name}}
				</h3>
			</div>
			<div class="hostDetailedInfos m-6 card-body">
				<ul class="list-group">
				{% for field in survey_detail.survey_form %}
						<li id="{{field.name}}" class="list-group-item disabled">
							<div class="surveyKey">
								<p class="m-6 shadow-sm">
									{{field.label}} : 
								</p>
							</div>
							<div class="surveyValue">
								<p>
									
									<!-- {% if host_info.key == 'amenities' %}
										{% for amenity in host_info.value%}
											{{amenity}} , 
										{% endfor %}
									{% else %}
										{{host_info.value}}
									{% endif %} -->
								</p>
							</div>
						</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endfor %}
</div>
<!-- Modal -->
  <div class="modal fade" id="personalInfoEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Survey Change</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="row">
				{% for survey_detail in the_survey_details%}
					<div id="edit_{{survey_detail.survey_id}}">
						{% include "surveys/survey_body.html" with form=survey_detail.survey_form  title=survey_detail.survey_name %}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary saveNewPersonalInfo">Save changes</button>
		</div>
	  </div>
	</div>
  </div>
	<div class="modal fade" id="popup-warning" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm modal-dialog-centered">
				<div class="alertBox alert alert-success d-flex align-items-center" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
					<div>
						
					</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
	</div>
	<div class="modal fade" id="personalInfoEditModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm modal-dialog-centered">
			<div class="alertBox alert alert-warning d-flex align-items-center" role="alert">
				<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
				<div>
				
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	</div>
{% endblock %}

{% block personal_codes %}
  {% include 'personal_info/personal_survey_infos_edit.js'%}
  {% include 'surveys/survey_body.js' %}
{% endblock %}