<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'travel_search:planListing' %}">
                <span data-feather="home"></span>
                Search Trip
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'host_info:setView' %}">
                <span data-feather="file"></span>
                Hosts
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'enters:logout' %}">
                <span data-feather="file"></span>
                Logout
            </a>
            </li>
        </ul>
    </div>
</nav>